.sidelayout_container {
  display: flex;
  width: 100%;
}

.sidelayout_menu {
  height: 100vh;
  background-color: #f0f0f0;
  width: 15%;
}

.sidelayout_main {
  width: 85%;
  height: 100vh;
  background-color: #f0f0f0;
}

