.inputField_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputField_label{
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    display: block;
    }

.inputField_input_focused{
    border: 1px solid ;
    border-radius: 0.5rem;
    padding: 0.6rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.inputField_input_blurred{
    border: 1px solid ;
    border-radius: 0.5rem;
    padding: 0.6rem;    
    font-size: 1.1rem;
    font-weight: 500;
}