.gallery_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 750px;
    height: 350px;
}


.gallery_card_image img {
    object-fit: cover;
    border-radius: 50%;
}

.gallery_card_content_description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    text-align: left;
}

@media (max-width: 1280px) {
    .gallery_card {
        flex-direction: column;
        padding: 2rem;
        height: 100%;
    }

    .gallery_card_image {
        width: 100%;
        height: 100%;
    }

    .gallery_card_content {
        width: 100%;
        height: 100%;
    }


}

